.container {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 10px;
  }
  
  .Heading {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
  }
  

  
  